[Basis]
# choose one of the following actions: data_gathering, interleaving, full, single, reeval, results, raw_queries, analysis 
action = full

[Parameters]
# postgres host
host = localhost
# postgres user
user = trueschottsman
# postgres user password
pwd = woulddothat
# postgres database
database = racoon
# the maximum amount the same hit may appear before it is considered irrelevant (-1 for infinite)
threshold = 1
# vm root user
root_user = bitnami
# vm root password
root_pwd = bitnami
# vm ip
vm_ip = 192.168.56.101
# vm name
vm_name = racoon-opencart
# vm state
vm_state = all-activated
# timeout for entire selenese-receipe while runs towards firebases
max_fuse_delay = 1200000
# time between selenese-commands while runs towards firebases
walzing_barrage_timer = 30000
# the location of the xdebug files on the target machine
xpath = /tmp/
# full path to racoon repository
racoon_path = /home/tim/git/hiwi/racoon
# the selenese script to be tested
selenese_script_folder = /home/tim/git/hiwi/racoon/selenese/opencart/login-fail-user
# the min number of parallel successfull requests to be considered a hit
hit_threshold = 3
# proj name (stored in database)
proj_name = opencart
# operation of the selenese script
operation = login-fail
# user given in selenese script
web_user = user
# full path to selense.jar
sel_runner = /home/tim/.racoon/firebases/selenese-runner.jar
# timeout for entire run of selenese script
sel_timeout = 1200000
# time between two selenese-commands
sel_speed = 20000
# full path of firefox binary
firefox = /usr/bin/firefox
# full path of selenese receipe
sel_receipe = /home/tim/git/hiwi/racoon/selenese/opencart/login-fail-user/merged_TS_login-fail_user.html
# do not store results in database
simulate = false
# relax the match checking to simply only look for the query itself
relaxed_check = false
